<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Document</title>
</head>
<body>

    <div>
        <div>
            <img src="https://www.cnet.com/a/img/3VKRkxpz04-So3RqgWPYOMcJJDI=/940x0/2021/03/29/ac4251ce-9392-4f5c-8021-6635ebb1e132/godzilla.jpg" alt="">
        </div>
        <div>
            <h4>Name vs Computer</h4>
        </div>
    </div>
    
</body>
</html>