<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>

    <div class="top-box">
        <div class="top-left">
            <img src="https://www.cnet.com/a/img/3VKRkxpz04-So3RqgWPYOMcJJDI=/940x0/2021/03/29/ac4251ce-9392-4f5c-8021-6635ebb1e132/godzilla.jpg" alt="">
            <div class="progress-bar">
                <progress id="hp-bar-p1" max="100" value="80">80%</progress> <br>
                <label for="hp-bar-p1">HP 100/100</label>
            </div>
        </div>
        <div class="top-right">
            <h1>Name vs Computer</h1>
        </div>
    </div>

    <div class="bottom-box">
        <div class="bottom-left">
            <button>Attack</button>
            <button>Paralyse</button>
            <button>Sleep</button>
            <button>Poison</button>
            <button>Heal</button>
        </div>
        <div class="bottom-right">
            <img src="https://img1.looper.com/img/gallery/every-king-kong-movie-ranked-worst-to-best/intro-1617312244.jpg" alt="">
            <div class="progress-bar">
                <progress id="hp-bar-p2" max="100" value="80">80%</progress> <br>
                <label for="hp-bar-p1">HP 100/100</label>
            </div>
        </div>
    </div>
    
</body>
</html>