body {
    background-color: black;
    color: white;
}

.top-box {
    display: flex;
    margin-top: 40px;
}

.top-left {
    display: block;
    justify-content: center;
    /* flex-direction: column; */
    text-align: center;
    width: 50%;
}

.top-left img {
    width: 80%;
}

.progress-bar progress {
    width: 80%;
    height: 40px;
}

.top-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.bottom-box {
    display: flex;
    margin-top: 40px;
}

.bottom-left {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

.bottom-left button {
    width: 150px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    margin: 40px;
}

.bottom-right {
    display: block;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.bottom-right img {
    width: 80%;
}