* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Permanent Marker', cursive;
}

/* GAME GAME GAME GAME GAME GAME GAME GAME GAME GAME GAME GAME GAME GAME GAME GAME GAME GAME GAME GAME GAME */

.land_page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url('https://i.pinimg.com/originals/e3/32/4f/e3324fa0efb97657f61ca5995556fdd3.jpg');
    background-size: cover;
    mask-repeat: no-repeat;
    box-shadow: inset 3500px 0 0 0 rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 1);
}

.main_headings {
    color: red;
}

.main_headings h3 {
    font-size: 4em;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
}

.main_headings h1 {
    font-size: 12em;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
}

.land_page_form {
    display: block;
    color: #fff;
    margin-top: 80px;
}

.input_bar label {
    font-size: 1.7em;
    color: red;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
}

.input_bar input {
    background: rgba(255,255,255,0.4);
    height: 35px;
    width: 70%;
    margin: 20px 0;
    border-radius: 25px;
    border: none;
    outline: none;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}

.input_bar input[type="text"] {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    text-align: center;
}

.fight_button input{
    font-family: 'Permanent Marker', cursive;
    background-color: #333;
    border-radius: 25px;
    color: red;
    height: 50px;
    width: 40%;
    margin: 20px 0;
    font-size: 1.8em;
    letter-spacing: 5px;
}

/* PLAY PLAY PLAY PLAY PLAY PLAY PLAY PLAY PLAY PLAY PLAY PLAY PLAY PLAY PLAY PLAY PLAY PLAY PLAY */

.land_page_play {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url('https://www.wallpaperflare.com/static/476/1005/194/elder-scrolls-5-skyrim-battle-viking-wallpaper.jpg');
    background-size: cover;
    mask-repeat: no-repeat;
    box-shadow: inset 3500px 0 0 0 rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 1);
    color: #fff;
}

.land_page_play h1 {
    font-size: 3em;
    color: red;
}

.three_boxes {
    display: flex;
    justify-content: center;
}

.three_boxes h3 {
    font-size: 3em;
    color: red;
}

.box_left {
    width: 33%;
    height: 60vh;
    padding-top: 50px;
}

.box_left img {
    width: 60%;
    padding-top: 10%;
}

.box_center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 33%;
}

.box_right {
    display: flex;
    flex-direction: column-reverse;
    width: 33%;
    padding-bottom: 50px;
}

.box_right img {
    width: 60%;
    padding-top: 10%;
}

.box_right_items {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

